
  
    /**
     * 可以使用theme中定义的 mixin 和 定义变量
     * 
     **/
  
.u_bao_xiu-class-name {
  
  // 使用theme中的变量
  // color: @example-primary-color;
  // 默认 px 会转换成 rem，含大写字母 PX 和 Px 则不会转换
  // margin-top: 20px;
  // 使用theme中的混合（mixins）
  // .mixins();
  // 可写嵌套样式
  .u_bao_xiu-nest-class {
    // color: #fff;
    // 使用theme中的混合（mixins）
    // .mixins(green);
  }
}

.hero-carousel,
.rounded-carousel {
  overflow: hidden !important;
  border-radius: 16px !important;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.hero-carousel swiper,
.hero-carousel swiper-item,
.hero-carousel image,
.hero-carousel img,
.hero-carousel .swiper,
.hero-carousel .swiper-item,
.hero-carousel .wd-carousel,
.hero-carousel .wd-carousel__wrapper,
.hero-carousel .wd-carousel__item,
.hero-carousel .t-carousel,
.hero-carousel .t-swiper,
.rounded-carousel swiper,
.rounded-carousel swiper-item,
.rounded-carousel image,
.rounded-carousel img,
.rounded-carousel .swiper,
.rounded-carousel .swiper-item,
.rounded-carousel .wd-carousel,
.rounded-carousel .wd-carousel__wrapper,
.rounded-carousel .wd-carousel__item,
.rounded-carousel .t-carousel,
.rounded-carousel .t-swiper {
  overflow: hidden !important;
  border-radius: 16px !important;
}

.hero-carousel image,
.hero-carousel img,
.rounded-carousel image,
.rounded-carousel img {
  display: block !important;
}
